.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer .btn-primary {
    font-size: 1rem;
    padding: 12px 25px;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
}

.footer .btn-primary:hover {
    background-color: #0056b3;
}

.footer p {
    margin: 5px 0;
}
